@font-face {
    font-family: 'ralewayextrabold';
    src: url('../fonts/raleway/raleway-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('../fonts/raleway/raleway-semibold-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mullerlight';
    src: url('../fonts/mullerLight/fontfabric_-_mullerlight-webfont.woff2') format('woff2'),
         url('../fonts/mullerLight/fontfabric_-_mullerlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mullerultralight';
    src: url('../fonts/mullerLight/fontfabric_-_mullerultralight-webfont.woff2') format('woff2'),
         url('../fonts/mullerLight/fontfabric_-_mullerultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'playfair_display_bold';
    src: url('../fonts/playfair-display/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('playfairdisplay-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'playfair_displayregular';
    src: url('../fonts/playfair-display/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('playfairdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  max-width 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-wrapper {
  width: 100%;
  height: 100%;
  min-width: 1360px;
  margin: -20px 0 -20px 0;
  padding: 0;
  background-color: #fdfaf3;
  background-repeat: no-repeat;
}

.line-1 {
  position: relative;
}

.line-1::before {
  content: '';
  position: absolute;
  top: 766px;
  left: -5px;
  width: 1px;
  height: 5300px;
  background-color: #f1efe9;
}

.line-1::after {
  content: '';
  position: absolute;
  top: 766px;
  left: 280px;
  width: 1px;
  height: 5300px;
  background-color: #f1efe9;
}

.line-2 {
  position: relative;
}

.line-2::before {
  content: '';
  position: absolute;
  top: 766px;
  left: 577px;
  width: 1px;
  height: 5300px;
  background-color: #f1efe9;
}

.line-2::after {
  content: '';
  position: absolute;
  left: 866px;
  width: 1px;
  height: 6000px;
  background-color: #f1efe9;
}

.line-3 {
  position: relative;
}

.line-3::before {
  content: '';
  position: absolute;
  right: 1px;
  top: 650px;
  width: 1px;
  height: 5300px;
  background-color: #f1efe9;
}

.container {
  position: relative;
  width: 1165px;
  margin: 0 auto;
  padding: 0 100px 0 100px;
}

.site-nav,
.main-menu ul,
.slider ul,
.features ul,
.portfolio ul,
.service ul,
.work-steps ul,
.main-footer ul {
  list-style: none;
}

/*HEADER*/

.main-header {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
  background: linear-gradient(to right, #182c3d 50%, #fdfaf3 50%);
}

.site-nav {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0;
  padding-top: 20px;
}

.button-menu {
  position: relative;
  top: 9px;
  left: 2px;
  cursor: pointer;
}

.main-menu {
  display: none;
  position: absolute;
  top: 83px;
  z-index: 6;
  width: 1165px;
  height: 595px;
  background-color: #112537;
  text-align: center;
}

.main-menu ul {
  margin-top: 135px;
}

.main-menu li {
  margin-bottom: 20px;
  padding: 0;
}

.main-menu a {
  font-family: 'ralewaysemibold';
  font-size: 20px;
  line-height: 42px;
  color: #88929b;
}

.main-menu a:hover {
  color: #f8a25a;
}

.main-logo {
  position: relative;
  left: 80px;
  top: 2px;
}

.phone-number {
  position: relative;
  top: 10px;
  right: 0;
  font-family: 'mullerlight';
  font-size: 14px;
  letter-spacing: 1.5px;
  color: #000000;
}

.phone-number::before {
  content: '';
  position: absolute;
  right: 160px;
  width: 12px;
  height: 15px;
  background-image: url(../img/phone-receiver.svg);
  background-repeat: no-repeat;
}

.slider {
  position: relative;
}

.slide-1 {
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 100px;
  width: 375px;
  margin-left: 90px;
}

.back-img {
  position: absolute;
  top: 82.5px;
  left: 100px;
  z-index: 2;
  width: 42.65%;
  height: 595px;
  background-color: #122536;
  opacity: 0.9;
}

.slider h1 {
  width: 375px;
  margin: 0;
  margin-top: 71px;
  padding: 0;
  font-family: 'playfair_display_bold';
  font-size: 60.85px;
  line-height: 59.32px;
  letter-spacing: 1.4px;
  color: #ffffff;
}

.slider h2 {
  margin: 0;
  margin-top: 23px;
  font-family: 'mullerlight';
  font-size: 14.8px;
  line-height: 20.53px;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.slider .button {
  position: relative;
  left: 5px;
  width: 215px;
  height: 18px;
  border: 1px solid #ffffff;
  margin-top: 35px;
  padding: 18px 32px 18px 28px;
  vertical-align: middle;
  font-family: 'ralewayextrabold';
  font-size: 14,45px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.slider .button::after {
  content: '';
  position: absolute;
  top: 22px;
  left: 210px;
  width: 41px;
  height: 11px;
  background-image: url(../img/arrow-OutRight-icon.png);
  background-repeat: no-repeat;
}

.slider .button:hover {
  background-color: #f8a25a;
}

.slider-social {
  position: relative;
  top: 22px;
  display: flex;
  padding: 0;
  margin-bottom: 50px;
}

.slider-social li {
  margin-right: 37px;
}

.slider-social a {
  display: inline-block;
  vertical-align: baseline;
  width: 14px;
  height: 14px;
}

.vk-social {
  background-image: url(../img/003-vk.png);
  background-repeat: no-repeat;
}

.inst-social {
  background-image: url(../img/002-instagram.png);
  background-repeat: no-repeat;
}

.fb-social {
  background-image: url(../img/001-facebook.png);
  background-repeat: no-repeat;
}

.slider-controls {
  position: relative;
  bottom: 42px;
  display: flex;
  float: right;
  width: 145px;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  vertical-align: baseline;
  width: 27px;
  height: 4px;
  margin-right: 12px;
  vertical-align: top;
  background-color: #cdd3cf;
  opacity: 0.8;
  cursor: pointer;
}

.slider-controls label:last-child {
  margin: 0;
}

.product-1:checked ~ label[for="product-1"],
.product-2:checked ~ label[for="product-2"],
.product-3:checked ~ label[for="product-3"],
.product-4:checked ~ label[for="product-4"] {
  background-color: #1a444a;
}

/*MAIN*/

.features-list {
  display: flex;
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 85px;
}

.features-list li {
  min-width: 237px;
  padding: 0;
  margin: 0;
  margin-right: 50px;
}

.features-list li:first-child h3,
.features-list li:nth-child(2) h3 {
  margin-top: 0;
}

.features-list li:nth-child(2),
.features-list li:last-child {
  margin-top: 215px;
}

.features-list li:nth-child(2) h2 {
  bottom: 5px;
}

.features-list li:nth-child(3) {
  position: relative;
  right: 5px;
  margin-right: 65px;
}

.features-list li:nth-child(4) {
  position: relative;
  right: 15px;
  margin-right: 0;
}

.features-list li:nth-child(4) h2 {
  bottom: 3px;
}


.features-list h2 {
  position: relative;
  right: 7px;
  margin: 0;
  padding: 0;
  font-family: 'playfair_display_bold';
  font-size: 85.43px;
  color: #fde3c9;
}

.features-list h3 {
  position: relative;
  right: 5px;
  margin-top: 10px;
  font-family: 'ralewaysemibold';
  font-size: 22px;
  line-height: 27px;
}

.features-list p {
  position: relative;
  right: 5px;
  bottom: 4px;
  font-family: 'ralewaylight';
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.7px;
  color: #838383;
}

.portfolio {
  position: relative;
}

.portfolio h1 {
  position: relative;
  right: 2px;
  font-family: 'playfair_display_bold';
  font-size: 45px;
  margin: 0;
  margin-bottom: 55px;
  letter-spacing: 0.4px;
}

.work-type {
  display: flex;
  margin-bottom: 59px;
  padding: 0;
}

.work-type a {
  padding-bottom: 10px;
  margin-right: 35px;
  font-family: 'ralewaylight';
  font-size: 18px;
  color: #000000;
}

.work-type li {
  margin-right: 20px;
}

.work-type li:nth-child(3) {
  position: relative;
  left: 7px;
}

.work-type li:first-child a {
  position: relative;
  right: 3px;
  font-family: 'ralewaysemibold';
  font-size: 18px;
  border-bottom: 1px solid #000000;
}

.design-list {
  display: flex;
  position: relative;
  padding: 0;
}

.portfolio h3 {
  position: relative;
  bottom: 550px;
  width: 154px;
  margin-left: 25px;
  margin-top: 25px;
  font-family: 'ralewaysemibold';
  font-size: 16px;
  letter-spacing: 0.7px;
}

.design-list li:first-child::before {
  content: '';
  position: absolute;
  top: 249px;
  left: 30px;
  width: 40px;
  height: 15px;
  background: url(../img/arrow-2.png) no-repeat;
  cursor: pointer;
}

.design-list li:nth-child(2)::after {
  content: '';
  position: absolute;
  bottom: 300px;
  left: 393px;
  width: 130px;
  height: 130px;
  background: url(../img/plus.png) no-repeat;
}

.design-list li:last-child::after {
  content: '';
  position: absolute;
  top: 249px;
  right: 29px;
  width: 40px;
  height: 15px;
  background: url(../img/arrow-1.png) no-repeat;
  cursor: pointer;
}

.portfolio span {
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: relative;
  bottom: 186px;
  right: 36px;
  font-family: 'mullerultralight';
  font-size: 14px;
  letter-spacing: 0.8px;
}

.service {
  position: relative;
}

.service h1 {
  position: relative;
  bottom: 4px;
  right: 5px;
  margin-bottom: 55px;
  font-family: 'playfair_display_bold';
  font-size: 45px;
  letter-spacing: 0.6px;
}

.grid-left {
  grid-area: left;
}

.grid-img {
  position: relative;
  top: 5px;
  right: 3px;
  grid-area: img;
}

.grid-img img {
  float: right;
}

.grid-right {
  position: relative;
  left: 40px;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 3fr 1fr;
  grid-area: right;
}

.grid-right span {
  position: relative;
  left: 78px;
  top: 67px;
  font-family: 'ralewayregular';
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.grid-right .button {
  position: relative;
  right: 29px;
  top: 73px;
  width: 215px;
  height: 13px;
  border: 2px solid #435a6b;
  padding: 20px 0 20px 0;
  text-align: center;
  font-family: 'ralewayextrabold';
  font-size: 15px;
  letter-spacing: 1.7px;
  color: #435a6b;
}

.grid-right .button:hover {
  background-color: #f8a25a;
}

.service-div {
  display: grid;
  grid-template-areas: "left img" "left right";                     
}

.grid-left ul {
  position: relative;
  right: 3px;
  padding: 0;
  width: 200px;
}

.grid-left li {
  margin-bottom: 80px;
  font-family: 'ralewaylight';
  font-size: 18px;
}

.grid-left li:nth-child(4) {
  margin-bottom: 70px;
}

.grid-left li:nth-child(6) {
  position: relative;
  bottom: 4px;
  width: 165px;
}

.grid-left a {
  color: #868585;
}

.grid-left .active {
  display: inline-block;
  width: 230px;
  padding-left: 30px;
  font-family: 'ralewaysemibold';
  font-size: 18px;
  color: #000000;
}

.service h3 {
  position: relative;
  top: 30px;
  width: 485px;
  margin-bottom: 27px;
  font-family: 'playfair_displayregular';
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.8px;
}

.service p {
  width: 485px;
  font-family: 'ralewaylight';
  font-size: 18px;
  line-height: 30px;
}

.about-us {
  display: block;
  position: relative;
  width: 1360px;
  margin: 0 auto 123px auto;
  padding: 0;
}

.about-us::before {
  content: '';
  position: absolute;
  left: 615px;
  top: 220px;
  width: 110px;
  height: 110px;
  background: url(../img/play.png) no-repeat;
}

.about-us h1 {
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: 328px;
  left: 447px;
  font-family: 'ralewayregular';
  font-size: 18px;
  letter-spacing: 0.75px;
  color: #ffffff;
}

.work-steps {
  position: relative;
  margin-bottom: 105px;
}

.work-steps h1 {
  position: relative;
  right: 5px;
  margin-bottom: 57px;
  font-family: 'playfair_display_bold';
  font-size: 45px;
  letter-spacing: 0.7px;
}

.work-steps b {
  position: absolute;
  left: -54px;
  top: -16px;
  font-family: 'ralewayregular';
  font-size: 12px;
  line-height: 42.28px;
}

.work-steps h3 {
  position: relative;
  right: 3px;
  margin-bottom: 35px;
  padding: 0;
  font-family: 'ralewaysemibold';
  font-size: 22px;
  line-height: 17.74px;
  white-space: nowrap;
}

.work-steps h3:nth-child(3),
.work-steps h3:nth-child(6) {
  padding-bottom: 25px;
}

.work-steps h3::before {
  content: '';
  position: absolute;
  right: 295px;
  top: -33px;
  width: 70px;
  height: 70px;
  background: url(../img/ellipse.png) no-repeat;
}

.work-steps p {
  position: relative;
  font-family: 'ralewaylight';
  font-size: 16px;
  line-height: 25px;
}

.work-steps li:nth-child(4) p,
.work-steps li:nth-child(5) p,
.work-steps li:nth-child(6) p {
  position: relative;
  top: 7px;
}

.work-steps p::before {
  content: '';
  position: absolute;
  right: 235px;
  bottom: 91px;
  width: 41px;
  height: 1px;
  background: url(../img/border.png) no-repeat;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.work-list li {
  position: relative;
  left: 30px;
  width: 280px;
  padding: 0 85px 27px 50px;
}

.work-list li:nth-child(3),
.work-list li:nth-child(6) {
  padding-left: 35px;
  padding-right: 0;
}

.feedback {
  display: flex;
  position: relative;
  margin: 0 auto;
  margin-bottom: 147px;
  padding: 0;
  width: 1360px;
}

.feedback-left {
  width: 580px;
  padding-top: 42px;
  padding-left: 100px;
  background-color: #182c3d;
}

.feedback h1 {
  width: 480px;
  margin-bottom: 21px;
  font-family: 'playfair_display_scbold';
  font-size: 42px;
  line-height: 45px;
  letter-spacing: 0.8px;
  color: #ffffff;
}

.feedback-item {
  width: 430px;
  padding-left: 4px;
  font-family: 'ralewaylight';
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 1px;
  color: #8e97a0;
}

.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-form button {
  width: 475px;
  background-color: #182b3c;
  color: #ffffff;
  padding: 25px 0 25px 0;
}

.form-item {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 445px;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
}

.form-item input {
  position: relative;
  width: 435px;
  padding: 18px 40px 18px 5px;
  background-color: #182c3d;
  border: none;
  border-bottom: 1.5px solid #918e8b;
  color: #ffffff;
}

.name-icon {
  background-image: url(../img/login-icon.svg);
  background-position: 445px center;
  background-repeat: no-repeat;
}

.phone-icon {
  background-image: url(../img/phone-icon.svg);
  background-position: 445px center;
  background-repeat: no-repeat;
}

.mail-icon {
  background-image: url(../img/mail-icon.svg);
  background-position: 445px center;
  background-repeat: no-repeat;
}

.feedback button {
  font-family: 'ralewayextrabold';
  font-size: 15px;
  line-height: 16.52px;
  letter-spacing: 2px;
  width: 475px;
  cursor: pointer;
}

.feedback button:hover {
  background-color: #f8a25a;
}

.comments {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 1360px;
}

.comments h1 {
  position: relative;
  right: 3px;
  margin: 0 auto;
  margin-bottom: 125px;
  padding: 0 100px 0 97px;
  font-family: 'playfair_display_bold';
  font-size: 45px;
  letter-spacing: 0.5px;
}

.comments h2 {
  margin: 0;
  margin-bottom: 10px;
  font-family: 'ralewaysemibold';
  font-size: 22px;
  line-height: 30px;
}

.comments h3 {
  margin: 0;
  margin-bottom: 25px;
  font-family: 'ralewaybold';
  font-size: 16px;
  color: #efb172;
}

.comments p {
  margin: 0;
  font-family: 'ralewaylight';
  font-size: 16px;
  line-height: 25px;
}

.clients {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.clients img {
  height: 192px;
}

.holodnaya {
  position: absolute;
  left: 860px;
}

.opinion {
  position: relative;
  bottom: 48px;
  right: 65px;
  padding: 50px 138px 50px 70px;
  width: 447px;
  background-color: #ffffff;
}

.product-5:checked ~ label[for="product-5"],
.product-6:checked ~ label[for="product-6"],
.product-7:checked ~ label[for="product-7"],
.product-8:checked ~ label[for="product-8"] {
  background-color: #1a444a;
}

.comment-controls {
  position: relative;
  bottom: 54px;
  right: 3px;
  display: flex;
  width: 145px;
  margin: 0 auto;
  margin-bottom: 105px;
  font-size: 0;
}

.comment-controls label {
  display: inline-block;
  vertical-align: baseline;
  width: 27px;
  height: 4px;
  margin-right: 12px;
  vertical-align: top;
  background-color: #cdd3cf;
  opacity: 0.8;
  cursor: pointer;
}

.comment-controls label:last-child {
  margin: 0;
}

/*FOOTER*/

.main-footer {
  position: relative;
  min-height: 255px;
  background-color: #182c3d;
}

.main-footer ul {
  display: flex;
  width: 160px;
  padding: 0;
  margin: 0;
}

.main-footer img {
  position: relative;
  bottom: 17px;
  left: 20px;
}

.footer-social {
  display: flex;
  position: relative;
  top: 20px;
  right: 20px;
  padding: 0;
  margin-bottom: 30px;
}

.footer-social li {
  margin-right: 50px;
}

.footer-social a {
  display: inline-block;
  vertical-align: baseline;
  width: 20px;
  height: 14px;
}

.footer-social .vk-social {
  width: 20px;
  background-image: url(../img/vk-footer.svg);
}

.footer-social .inst-social {
  width: 20px;
  background-image: url(../img/instagram-footer.svg);
}

.footer-social .fb-social {
  width: 16px;
  background-image: url(../img/facebook-footer.svg);
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 255px;
}

.main-footer p {
  padding-top: 11px;
  font-family: 'ralewaysemibold';
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.4px;
  color: #f0ba82;
}