@font-face {
    font-family: 'ralewayextrabold';
    src: url('../fonts/raleway/raleway-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('../fonts/raleway/raleway-semibold-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mullerlight';
    src: url('../fonts/mullerLight/fontfabric_-_mullerlight-webfont.woff2') format('woff2'),
         url('../fonts/mullerLight/fontfabric_-_mullerlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mullerultralight';
    src: url('../fonts/mullerLight/fontfabric_-_mullerultralight-webfont.woff2') format('woff2'),
         url('../fonts/mullerLight/fontfabric_-_mullerultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'playfair_display_scbold';
    src: url('../fonts/playfair-display/playfairdisplaysc-bold-webfont.woff2') format('woff2'),
         url('playfairdisplaysc-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'playfair_displayregular';
    src: url('../fonts/playfair-display/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('playfairdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  max-width 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-wrapper {
  width: 100%;
  min-width: 1360px;
  margin: -20px 0 -20px 0;
  padding: 0;
  background-color: #fdfaf3;
  background-repeat: no-repeat;
}

.container {
  width: 1165px;
  margin: 0 auto;
  padding: 0 100px 0 100px;
}

.site-nav,
.main-menu ul,
.slider ul,
.features ul,
.portfolio ul,
.service ul,
.work-steps ul,
.main-footer ul {
  list-style: none;
}

/*HEADER*/

.main-header {
  width: 100%;
  height: 100%;
  margin-bottom: 130px;
  background: linear-gradient(to right, #182c3d 50%, #fdfaf3 50%);
}

.site-nav {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  padding-top: 20px;
}

.main-menu a {
  display: none;
  font-family: 'ralewaysemibold';
  font-size: 20px;
  line-height: 42px;
  color: #88929b;
}

.phone-number {
  font-family: 'mullerlight';
  font-size: 14px;
  color: #252525;
}

.slider h1 {
  font-family: 'playfair_display_scbold';
  font-size: 60.85px;
  line-height: 59.35px;
  color: #ffffff;
}

.slider h2 {
  font-family: 'mullerlight';
  font-size: 14.8px;
  line-height: 20.53px;
  color: #ffffff;
}

.slider .button {
  font-family: 'ralewayextrabold';
  font-size: 14,45px;
  background-color: #f8a25a;
}

.slide-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 100px;
  width: 375px;
}

.slider-social {
  display: flex;
  padding: 0;
}

.slider-controls {
  position: relative;
  bottom: 25px;
  float: right;
}

/*MAIN*/

.features-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.features-list li {
  min-width: 235px;
  padding: 0;
  margin: 0;
  margin-right: 45px;
}

.features-list li:nth-child(2),
.features-list li:last-child {
  margin-top: 215px;
}

.features h2 {
  margin: 0;
  padding: 0;
  font-family: 'playfair_display_scbold';
  font-size: 85.43px;
  color: #fde3c9;
}

.features h3 {
  font-family: 'ralewaysemibold';
  font-size: 22px;
}

.features p {
  font-family: 'ralewaylight';
  font-size: 16px;
  line-height: 25px;
  color: #838383;
}

.portfolio h1 {
  font-family: 'playfair_display_scbold';
  font-size: 45px;
}

.work-type {
  display: flex;
  padding: 0;
}

.work-type li {
  margin-right: 20px;
  font-family: 'ralewaylight';
  font-size: 18px;
  font-weight: 400;
}

.work-type li:first-child {
  font-family: 'ralewaysemibold';
  font-size: 18px;
  border-bottom: 1px solid #000000;
}

.design-list {
  display: flex;
  padding: 0;
}

.portfolio h3 {
  position: relative;
  bottom: 550px;
  width: 150px;
  margin-left: 25px;
  font-family: 'ralewaysemibold';
  font-size: 16px;
}

.portfolio span {
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: relative;
  bottom: 150px;
  right: 50px;
  font-family: 'mullerultralight';
  font-size: 14px;
}

.service h1 {
  font-family: 'playfair_display_scbold';
  font-size: 45px;
}

.grid-left {
  grid-area: left;
}

.grid-img {
  grid-area: img;
}

.grid-right {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 3fr 1fr;
  grid-area: right;
}

.service-div {
  display: grid;
  grid-template-areas: "left img" "left right";                     
}

.service ul {
  padding: 0;
  width: 200px;
}

.service li {
  margin-bottom: 80px;
  font-family: 'ralewaylight';
  font-size: 18px;
}

.service li:nth-child(3) {
  width: 230px;
  padding-left: 30px;
  font-family: 'ralewaysemibold';
  font-size: 18px;
}

.service h3 {
  width: 485px;
  font-family: 'playfair_displayregular';
  font-size: 30px;
  font-weight: 500;
}

.service p {
  width: 485px;
  font-family: 'ralewaylight';
  font-size: 18px;
  line-height: 30px;
}

.service span {
  font-family: 'ralewayregular';
  font-size: 18px;
  line-height: 30px;
}

.service a {
  font-family: 'ralewayextrabold';
  font-size: 15px;
  color: #000000;
}

.about-us {
  display: block;
  position: relative;
  width: 1360px;
  margin: 0 auto;
  padding: 0;
}

.about-us h1 {
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: 300px;
  left: 500px;
  font-family: 'ralewayregular';
  font-size: 18px;
  color: #ffffff;
}

.work-steps h1 {
  font-family: 'playfair_display_scbold';
  font-size: 45px;
}

.work-steps h3 {
  font-family: 'ralewaysemibold';
  font-size: 22px;
  line-height: 17.74px;
}

.work-steps p {
  font-family: 'ralewaylight';
  font-size: 16px;
  line-height: 25px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.work-list li {
  width: 260px;
  padding: 0 60px 60px 60px;
}

.feedback {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 1360px;
}

.feedback-left {
  padding-left: 100px;
  background-color: #182c3d;
}

.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-form p {
  display: flex;
  flex-direction: column;
  width: 475px;
}

.feedback h1 {
  font-family: 'playfair_display_scbold';
  font-size: 27.06px;
  line-height: 42.28px;
  color: #ffffff;
}

.feedback p {
  font-family: 'ralewayregular';
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.feedback button {
  font-family: 'ralewayextrabold';
  font-size: 15px;
  line-height: 16.52px;
  width: 475px;
}

.comments {
  margin: 0 auto;
  padding: 0;
  width: 1360px;
}

.comments h1 {
  margin: 0 auto;
  padding: 0 100px 0 100px;
  font-family: 'playfair_display_scbold';
  font-size: 45px;
}

.comments h2 {
  font-family: 'ralewaysemibold';
  font-size: 22px;
  line-height: 30px;
}

.comments h3 {
  font-family: 'ralewaybold';
  font-size: 16px;
}

.comments p {
  font-family: 'ralewaylight';
  font-size: 16px;
  line-height: 25px;
}

.clients {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.holodnaya {
  position: absolute;
  left: 950px;
}

.opinion {
  background-color: #ffffff;
  width: 655px;
}

/*FOOTER*/

.main-footer {
  min-height: 255px;
  background-color: #182c3d;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 255px;
}

.main-footer p {
  font-family: 'ralewaysemibold';
  font-size: 16px;
  line-height: 30px;
  color: #f0ba82;
}

.main-footer ul {
  display: flex;
  width: 160px;
  padding: 0;
  margin: 0;
}